<md-input-container class="md-icon-float md-block" id="searchContainer">
	<md-icon class="searchTerm fa fa-search" id="searchIcon"></md-icon>
	<div id="searchInput" class = "inputDiv rtl">
		<label>חפש</label>
		<input ng-model="searchTerm" type="text" ng-model-options="{debounce: 250}" ng-change="applyFilter()">
	</div>
</md-input-container>
	
<table class="table striped centered z-depth-3">
	<thead>
		<tr>
			<th>
				מק"ט יצרן
			<th>
				Publisher
			<th>
				Soft Con
			<th>
				מחיר
			<th>
				Type
			<th>
				Platform
		</tr>
	</thead>
	<tbody>
		<tr id = "{{ software.id }}" ng-repeat="software in uiRequests" ng-click="showSoftwareDetails($event)">
			<td>{{ software.producerId }}</td>
			<td>{{ software.publisherName }}</td>
			<td>{{ software.softCon }}</td>
			<td>{{ software.licenceCost + "$"}}</td>
			<td>{{ software.type }}</td>
			<td>{{ software.platform }}</td>
		</tr>
	</tbody>
</table>

<!-- md-progress-circular -->


<!-- next 7 prev buttons -->

<md-button class="md-primary md-fab" ng-click="showAdvanced($event)" flex-sm="100" flex-md="100" flex-gt-md="auto" style="position: fixed; bottom: 3em; left: 3em;">
	<i class="fa fa-2x fa-plus" style="margin-top: 13px"></i>
	<md-tooltip md-direction="right">New Request</md-tooltip>
</md-button>