<md-input-container class="md-icon-float md-block" id="searchContainer">
	<md-icon class="searchTerm fa fa-search" id="searchIcon"></md-icon>
	<div id="searchInput" class = "inputDiv rtl">
		<label>חפש</label>
		<input ng-model="searchTerm" type="text" ng-model-options="{debounce: 250}" ng-change="applyFilter()">
	</div>
</md-input-container>
	
<table class="table striped centered z-depth-3">
	<thead>
		<tr>
			<th>
				name_1
			<th>
				name_2
			<th>
				name_3
			<th>
				name_4
			<th>
				name_5
			<th>
				name_6
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>tmp_1</td>
			<td>tmp_2</td>
			<td>tmp_3</td>
			<td>tmp_4</td>
			<td>tmp_5</td>
			<td>tmp_6</td>
		</tr>
		<tr>
			<td>tmp_1</td>
			<td>tmp_2</td>
			<td>tmp_3</td>
			<td>tmp_4</td>
			<td>tmp_5</td>
			<td>tmp_6</td>
		</tr>
		<tr>
			<td>tmp_1</td>
			<td>tmp_2</td>
			<td>tmp_3</td>
			<td>tmp_4</td>
			<td>tmp_5</td>
			<td>tmp_6</td>
		</tr>
		<tr>
			<td>tmp_1</td>
			<td>tmp_2</td>
			<td>tmp_3</td>
			<td>tmp_4</td>
			<td>tmp_5</td>
			<td>tmp_6</td>
		</tr>
		<tr>
			<td>tmp_1</td>
			<td>tmp_2</td>
			<td>tmp_3</td>
			<td>tmp_4</td>
			<td>tmp_5</td>
			<td>tmp_6</td>
		</tr>
		<tr id = "{{ request.id }}" ng-repeat="request in uiRequests">
			<td>{{ request[0] }}</td>
			<td>{{ request[1] }}</td>
			<td>{{ request[2] }}</td>
			<td>{{ request[3] }}</td>
			<td>{{ request[4] }}</td>
			<td>{{ request[5] }}</td>
		</tr>
	</tbody>
</table>

<!-- md-progress-circular -->


<!-- next 7 prev buttons -->

<md-button class="md-primary md-fab" ng-click="showAdvanced($event)" flex-sm="100" flex-md="100" flex-gt-md="auto" style="position: fixed; bottom: 3em; left: 3em;">
	<i class="fa fa-2x fa-plus" style="margin-top: 13px"></i>
	<md-tooltip md-direction="right">New Request</md-tooltip>
</md-button>